{% extends "mercado/base_mercado.html" %}
{% load custom_filters %}

{% block title %}Ver Publicación{% endblock %}

{% block content %}
<h1 class="text-center">Detalles de la Publicación</h1>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ publicacion.imagen.url }}" class="img-fluid rounded-start" alt="Imagen del vehículo">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{ publicacion.marca }} {{ publicacion.modelo }}</h1>
                <p class="card-text">{{ publicacion.año }} | {{ publicacion.kilometros }} km</p>
                <h3 class="card-text">ARS {{ publicacion.precio|custom_format }}</h3>
                <p class="card-text">{{ publicacion.descripcion }}</p>
                <p class="card-text"><strong>Color:</strong> {{ publicacion.color }}</p>
                <p class="card-text"><strong>Vendedor:</strong> {{ publicacion.vendedor.first_name }} {{ publicacion.vendedor.last_name }} - {{ publicacion.vendedor.email }}</p>
            </div>
        </div>
    </div>
</div>

{% include "barra/publicacion/caja_comentarios.html" %}

<a href="javascript:history.back()" class="btn btn-secondary" style="margin-bottom: 50px;">Volver</a>

{% endblock %}

