{% extends "mercado/base_mercado.html" %}
{% load static %}

{% block title %}CARgentina{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <img src="{% static 'fondopaginainicio.jpeg' %}" alt="Imagen de fondo" class="img-fluid" style="width: 50%; height: auto;">
    </div>
    {% block buttons %}
        <div class="d-flex justify-content-center mt-4" style="margin-bottom: 10px;">
            <a href="{% url 'usuarios:login' %}" class="btn btn-primary mx-2">Log-In</a>
            <a href="{% url 'usuarios:register' %}" class="btn btn-secondary mx-2">Registrarse</a>
        </div>
    {% endblock %}
</div>
{% endblock %}